  <div class="post">
      
      <div class="post-top">
          <% if tweeet.user.avatar.attached? %>
              <%= image_tag tweeet.user.avatar, class: "profile-pic" %>                                    
              <h2 class="username"><%= tweeet.user.name %></h2>
              <span class="post_id">@<%= tweeet.user.username %></span><br>
          <% else %>
              <%= image_tag "EWAJB4WUcAAje8s.png", class: "profile-pic" %>                                    
              <h2 class="username"><%= tweeet.user.name %></h2>
              <span class="post_id">@<%= tweeet.user.username %></span><br>
          <% end %>
      </div>  
      

      <div class="post-mid">
          <p class="comment"><%= tweeet.tweeet %></p>  
      </div>

      
        <div class="post-bot">
          
            <div class="comm-icon-link">

              <%= form_with(url: likes_path, method: "post", class: "comm-icon") do%>
                <input type="hidden" name="like[tweeet_id]" value="<%= tweeet.id%>" autocomplete="off">
                <%= image_submit_tag("favorite_border_black_24dp.svg")%>
              <% end%>

            </div>            
                    
            <span class="comm-count"><%= tweeet.likes.count%></span>
          
            <% if current_user.name == tweeet.user.name %>                 
              <%= link_to tweeet, class: "view-icon-link" do%>
                  <%= image_tag "visibility_black_24dp.svg", class: "view-icon" %>  
              <% end %>  
            <% else %>  
                <%= link_to root_path, class: "view-icon-link" do%>
                  <%= image_tag "visibility_black_24dp.svg", class: "view-icon" %>  
                <% end %>              
            <% end %>   


        </div>
      
      


  </div>

  